
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>INFRA-ROCKET - Login</title>
    <link rel="stylesheet" href="/static/css/style.css?v=3">
</head>
<body class="login-page">

    <div class="hero-login">
        <img src="/static/Logo-Infra-Rocket6.png" alt="INFRA Rocket" class="hero-image">

        <div class="hero-overlay">
            <div class="hero-title-block">
                <h1>INFRA 🚀</h1>
                <p>Connexion au dashboard</p>
            </div>

            {% if error %}
                <div class="error">{{ error }}</div>
            {% endif %}

            <form method="post" action="/login" class="hero-form">
                <input type="text" name="username" placeholder="Login" required>
                <input type="password" name="password" placeholder="Mot de passe" required>
                <button type="submit">Se connecter</button>
            </form>
        </div>
    </div>

</body>
</html>

